## Importing the Heroes of Pymoli csv file

### Import Pandas

In [112]:
import pandas as pd

### Read CSV file

In [113]:
FileCsv='Resources/purchase_data.csv'

In [114]:
# Data sanity Check
PurchaseData=pd.read_csv(FileCsv)

In [115]:
# Data sanity Check
PurchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [116]:
# Data sanity Check
PurchaseData.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [117]:
# Data sanity Check
PurchaseData.shape

(780, 7)

In [118]:
# Data sanity Check
PurchaseData.SN.value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Iskadarya95      3
Hada39           3
Asur53           3
Hiaral50         3
Raesty92         3
Pheodaisun84     3
Zontibe81        3
Siallylis44      3
Lassilsala30     3
Chadolyla44      3
Haillyrgue51     3
Phyali88         3
Lisim78          3
Lisopela58       3
Iri67            3
Chamjask73       3
Rarallo90        3
Aina42           3
Umolrian85       3
Idai61           3
Ialallo29        3
Phaena87         3
Silaera56        3
Yathecal82       3
Chanastnya43     3
Chamimla85       3
Aelin32          3
                ..
Aela59           1
Lisossala30      1
Lisista27        1
Quanenrian83     1
Assirra56        1
Aeda94           1
Chanastya70      1
Eosurdru76       1
Sundista37       1
Jiskjask80       1
Aisurria69       1
Eudanu84         1
Airi27           1
Chanirra79       1
Lassassast73     1
Siana77          1
Ilast79          1
Heunadil74       1
Jiskjask85       1
Lisista63        1
Idaisuir85       1
Iljask75         1
Rianistast50     1
Marassa62        1
Tyalaesu89       1
Alim85           1
Phiristi62       1
Aerithnucal56    1
Eratiel90        1
Assjaskan56      1
Name: SN, Length: 576, dtype: int64

In [119]:
# Data sanity Check
PurchaseData.SN.nunique()

576

In [120]:
# Data sanity Check
PurchaseData.SN.count()

780

In [121]:
# Column Rename
PurchaseData.rename(columns={'Item ID': 'ItemId'}, inplace=True)
PurchaseData.rename(columns={'Item Name': 'ItemName'}, inplace=True)
PurchaseData.rename(columns={'Purchase ID': 'PurchaseId'}, inplace=True)

In [122]:
# Data sanity Check
PurchaseData.head()

,PurchaseId,SN,Age,Gender,ItemId,ItemName,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Question 1

In [123]:
NumberOfPlayers = {
    "Total Players": [PurchaseData.SN.nunique()]
}
info_pd = pd.DataFrame(NumberOfPlayers)
info_pd

   Total Players
0            576

### Question 2

In [124]:
PurchaseAnalysisTotal = {
    "Number Of Unique Items": [PurchaseData.ItemId.nunique()] , "Average Purchase Price": [PurchaseData.Price.mean()] , 
    "Total Number Of Purchases": [PurchaseData.PurchaseId.nunique()],
    "Total Revenue": [PurchaseData.Price.sum()]
}
info_pd = pd.DataFrame(PurchaseAnalysisTotal)
info_pd

,Number Of Unique Items,Average Purchase Price,Total Number Of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [125]:
MaleFemalRatio = PurchaseData.groupby(['Gender'])

In [126]:
GenderCount=MaleFemalRatio.SN.nunique()
GenderCount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

### Question 3

In [127]:
MaleFemaleDf = pd.DataFrame({"Total Count" : GenderCount, "Percentage Of Players" : round ((GenderCount/NumberOfPlayers.get("Total Players"))*100, 2)})
MaleFemaleDf

                       Total Count  Percentage Of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [128]:
PurchaseCount=MaleFemalRatio.PurchaseId.count()
AveragePurchasePrice=MaleFemalRatio.Price.mean()
TotalPurchaseValue=MaleFemalRatio.Price.sum()
AveragePurchasePerPerson=TotalPurchaseValue/GenderCount

### Question 4

In [129]:
PurchasingAnalysisGender = pd.DataFrame({"Purchase Count" : PurchaseCount, "Average Purchase Price" : AveragePurchasePrice, "Total Purchase Value" : TotalPurchaseValue, "Average Purchase PerPerson" : AveragePurchasePerPerson })
PurchasingAnalysisGender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase PerPerson
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [130]:
PurchaseDataAgeBin=PurchaseData

In [131]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
GroupNames = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [132]:
PurchaseDataAgeBin["AgeBin"] = pd.cut(PurchaseDataAgeBin["Age"], bins, labels=GroupNames)

In [133]:
PurchaseDataAgeBinGroupBy=PurchaseDataAgeBin.groupby(['AgeBin'])

In [134]:
AgeBinSnCount=PurchaseDataAgeBinGroupBy.SN.nunique()
AgeBinSnCount

AgeBin
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: SN, dtype: int64

In [135]:
AgeBinPurchaseCount=PurchaseDataAgeBinGroupBy.PurchaseId.count()
AgeBinAveragePurchasePrice=PurchaseDataAgeBinGroupBy.Price.mean()
AgeBinTotalPurchaseValue=PurchaseDataAgeBinGroupBy.Price.sum()
AgeBinAveragePurchasePerPerson=AgeBinTotalPurchaseValue/AgeBinSnCount

### Question 5

In [136]:
PurchasingAnalysisAgeGroup = pd.DataFrame({"Purchase Count" : AgeBinPurchaseCount, "Average Purchase Price" : round(AgeBinAveragePurchasePrice, 2), "Total Purchase Value" : AgeBinTotalPurchaseValue, "Average Purchase PerPerson" : round(AgeBinAveragePurchasePerPerson, 2) })
PurchasingAnalysisAgeGroup

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase PerPerson
AgeBin,,,,
<10,32,3.40,108.96,4.54
10-14,54,2.90,156.60,3.82
15-19,200,3.11,621.56,4.14
20-24,325,3.02,981.64,4.23
25-29,77,2.88,221.42,3.75
30-34,52,2.99,155.71,4.21
35-39,33,3.40,112.35,4.32
40+,7,3.08,21.53,3.08

### Question 6

In [141]:
PurchaseDataSNGroup = PurchaseData.groupby(['SN'])
PurchaseDataTopSpender = pd.DataFrame ({"Purchase Count" : PurchaseDataSNGroup.PurchaseId.count(), "Average Purchase Price" : round(PurchaseDataSNGroup.Price.mean(), 2), "Total Purchase Value" : PurchaseDataSNGroup.Price.sum() })
PurchaseDataSortTotalPurchase = PurchaseDataTopSpender.sort_values("Total Purchase Value", ascending=False)
#PurchaseDataSortTotalPurchase = PurchaseDataSortTotalPurchase.reset_index(drop=True)
PurchaseDataSortTotalPurchase.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

### Question 7

In [138]:
PurchaseDataItemGroup = PurchaseData.groupby(['ItemId'])
PurchaseDataTopItem = pd.DataFrame ({"Item Name" : PurchaseDataItemGroup.ItemName.max(), "Purchase Count" : PurchaseDataItemGroup.PurchaseId.count(), "Item Price" : PurchaseDataItemGroup.Price.max(), "Total Purchase Value" : PurchaseDataItemGroup.Price.sum() })
PurchaseDataSortPurchaseCount = PurchaseDataTopItem.sort_values("Purchase Count", ascending=False)
#PurchaseDataSortTotalPurchase = PurchaseDataSortTotalPurchase.reset_index(drop=True)
PurchaseDataSortPurchaseCount.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
ItemId,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

### Question 8

In [139]:
PurchaseDataSortPurchaseValue = PurchaseDataTopItem.sort_values("Total Purchase Value", ascending=False)
#PurchaseDataSortTotalPurchase = PurchaseDataSortTotalPurchase.reset_index(drop=True)
PurchaseDataSortPurchaseValue.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
ItemId,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

##### Observation
1. Oathbreaker, Last Hope of the Breaking Storm item has generated highest revenue and has most number of purchases.
2. Male players make more purchases than female players
3. Maximum purchase made by a player is 5 items